<td>Mid Drawdown:</td>
<td>{{midrawdown}}</td>
</tr>
<tr>
<td>Total Trades:</td>
<td>{{totaltrades}}</td>
</tr>
<tr>
<td>Racha Ganadora:</td>
<td>{{rachaganadora}}</td>
</tr>
<tr>
<td>Racha Perdedora:</td>
<td>{{rachaperdedora}}</td>
</tr>
<tr>
<td>Total Ganados:</td>
<td>{{totalganados}}</td>
</tr>
<tr>
<td>Total Perdidos:</td>
<td>{{totalperdidos}}</td>
</tr>
<tr>
<td>Long Total:</td>
<td>{{longTotal}}</td>
</tr>
<tr>
<td>Short Total:</td>
<td>{{shortTotal}}</td>
</tr>
<tr>
<td>Long Wins:</td>
<td>{{longWins}}</td>
</tr>
<tr>
<td>Long Lost:</td>
<td>{{longLost}}</td>
</tr>
<tr>
<td>Short Wins:</td>
<td>{{shortWins}}</td>
</tr>
<tr>
<td>Short Lost:</td>
<td>{{shortLost}}</td>
</tr>
<tr>
<td>Recorrido en Operaciones:</td>
<td>{{recorridoEnOperaciones}}</td>
</tr>
<tr>
<td>Promedio Velas por Operación:</td>
<td>{{promedioVelasOperacion}}</td>
</tr>
<tr>
<td>Máximo Velas por Operación:</td>
<td>{{maxvelasOperacion}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación:</td>
<td>{{minvelasOperacion}}</td>
</tr>
<tr>
<td>Recorrido en Operaciones Ganadas:</td>
<td>{{recorridoOperacionesGanadas}}</td>
</tr>
<tr>
<td>Promedio Velas por Operación Ganadas:</td>
<td>{{promedioVelasOperacionGanadas}}</td>
</tr>
<tr>
<td>Máximo Velas por Operación Ganadas:</td>
<td>{{maxvelasOperacionGanadas}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Ganadas:</td>
<td>{{minvelasOperacionGanadas}}</td>
</tr>
<tr>
<td>Recorrido en Operaciones Perdidas:</td>
<td>{{recorridoOperacionesPerdidas}}</td>
</tr>
<tr>
<td>Promedio Velas por Operación Perdidas:</td>
<td>{{promedioVelasOperacionPerdidas}}</td>
</tr>
<tr>
<td>Máximo Velas por Operación Perdidas:</td>
<td>{{maxvelasOperacionPerdidas}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{minvelasOperacionPerdidas}}</td>
</tr>
<tr>
<td>Recorrido Operaciones Long:</td>
<td>{{long_total}}</td>
</tr>
<tr>
<td>Promedio recorrido Operaciones Long:</td>
<td>{{long_average}}</td>
</tr>
<tr>
<td>Maximo recorrido Operacion Long:</td>
<td>{{long_max}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{long_min}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{long_won_total}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{long_won_average}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{long_won_max}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{long_won_min}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{long_lost_total}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{long_lost_average}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{long_lost_max}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{long_lost_min}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{short_total}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{short_average}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{short_max}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{short_min}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{short_won_total}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{short_won_average}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{short_won_max}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{short_won_min}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>

La fecha de inicio no puede ser mayor que la fecha de fin. Por favor, selecciona fechas válidas.
El valor de valorTK no puede ser negativo. Por favor, ingresa un valor válido.
<td>{{short_lost_total}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{short_lost_average}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{short_lost_max}}</td>
</tr>
<tr>
<td>Mínimo Velas por Operación Perdidas:</td>
<td>{{short_lost_min}}</td>

<div class="overlay" id="processing-message" style="display: none;">
    <div class="loader"></div>
    <p class="processing-text" style="color: #fff;">Procesando BackTesting, por favor espera...</p>
</div>
</div>