{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/styles.css' %}">
    <script src="{% static '../static/javascript/input_page.js' %}"></script>
    <title>N&W TRADERS BACKTESTING</title>

</head>

<body>
    <a href="/" class="home-button">Volver al Home</a>

    <div id="container" class="container">
        <h1>Configuración De Estrategia</h1>
        <form method="post" class="form-group" id="backtesting-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="tipoTK">Tipo De Take Profit:</label>
                {{ form.tipoTK }}
            </div>
            <div class="form-group">
                <label for="valorTK">Valor De Take Profit:</label>
                {{ form.valorTK }}
            </div>
            <div class="form-group">
                <label for="startHour">Hora de Inicio: HH:MM</label>
                {{ form.startHour }}
            </div>
            <div class="form-group">
                <label for="endHour">Hora de Fin: HH:MM</label>
                {{ form.endHour }}
            </div>
            <div class="form-group">
                <label for="fechaDesde">Fecha Desde: 2023-05-01</label>
                {{ form.fechaDesde }}
            </div>
            <div class="form-group">
                <label for="fechaHasta">Fecha Hasta: 2023-09-30</label>
                {{ form.fechaHasta }}
            </div>
            <div class="form-group">
                <button type="submit" id="execute-button" class="btn btn-primary">Ejecutar BackTesting</button>
            </div>

        </form>
        
        <div class="overlay" id="processing-message" style="display: none;">
            <div class="loader"></div>
            <p class="processing-text" style="color: #fff;">Procesando BackTesting, por favor espera...</p>
        </div>

        <div id="error-message">{{ error_message }}</div>

    </div>
    <script src="{% static '../static/javascript/script.js' %}"></script>


</body>

</html>