<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f2f9ff;
        }

        .container {
            margin-top: 50px;
        }

        table {
            background-color: #fff;
            border: 2px solid #007BFF;
            border-radius: 20px; /* Aumenta la curvatura */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 20px 0; /* Agrega espacio entre la tabla y otros elementos */
        }

        th, td {
            text-align: center;
            vertical-align: middle;
        }

        th {
            background-color: #007BFF;
            color: #fff;
        }
        .configure-button {
            position: absolute;
            top: 10px; /* Ajusta la distancia desde la parte superior */
            left: 10px; /* Ajusta la distancia desde la izquierda */
        }
        h1{
            text-align: center;
            margin-top: 20px;
            
        }
    </style>
    <title>Tabla de Backtesting</title>
</head>
<body>
  
    <div class="container">
        <div class="table-responsive">
          <a href="" class="btn btn-primary configure-button">Volver a Configuración</a>
            
            <table class="table table-bordered table-hover table-striped">
                <h1>Trades</h1>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    <tbody>
                       
                        <tr>
                            <td>Total:</td>
                            <td>{{totaltrades}}</td>
                            </tr>
                            <tr>
                            <td>Won streak:</td>
                            <td>{{rachaganadora}}</td>
                            </tr>
                            <tr>
                            <td>Lost streak:</td>
                            <td>{{rachaperdedora}}</td>
                            </tr>
                            <tr>
                            <td>Won:</td>
                            <td>{{totalganados}}</td>
                            </tr>
                            <tr>
                            <td>Lost:</td>
                            <td>{{totalperdidos}}</td>
                            </tr>
                            <tr>
                            <td>Longs:</td>
                            <td>{{longTotal}}</td>
                            </tr>
                            <tr>
                            <td>Shorts:</td>
                            <td>{{shortTotal}}</td>
                            </tr>
                            <tr>
                            <td>Won Longs:</td>
                            <td>{{longWins}}</td>
                            </tr>
                            <tr>
                            <td>Lost Longs:</td>
                            <td>{{longLost}}</td>
                            </tr>
                            <tr>
                            <td>Won Shorts:</td>
                            <td>{{shortWins}}</td>
                            </tr>
                            <tr>
                            <td>Lost Shorts:</td>
                            <td>{{shortLost}}</td>
                            </tr>
                    </tbody>
                    </thead>
            </table>
                    
            <table class="table table-bordered table-hover table-striped">
                <h1>PNL</h1>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    <tbody>
                        <td>Net:</td>
                        <td>{{pnl}}</td>
                        </tr>
                        <tr>
                        <td>Won PNL total:</td>
                        <td>{{pnlwins}}</td>
                        </tr>
                        <tr>
                        <td>Lost PNL total:</td>
                        <td>{{pnlLosts}}</td>
                        </tr>
                        <tr>
                        <td>Longs PNL total:</td>
                        <td>{{pnllong}}</td>
                        </tr>
                        <tr>
                        <td>Shorts PNL total:</td>
                        <td>{{pnlShort}}</td>
                        </tr>
                        <tr>
                        <td>Won longs PNL:</td>
                        <td>{{pnlLongWins}}</td>
                        </tr>
                        <tr>
                        <td>Lost longs PNL:</td>
                        <td>{{pnlLongLosts}}</td>
                        </tr>
                        <tr>
                        <td>Won shorts PNL:</td>
                        <td>{{pnlShortWins}}</td>
                        </tr>
                        <tr>
                        <td>Lost shorts PNL:</td>
                        <td>{{pnlShortLosts}}</td>
                        </tr>
                        
                    </tbody>
           
            </table>
            <table class="table table-bordered table-hover table-striped">
                <h1>DrawDown</h1>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    <tbody>
                         <td>DrawDown length:</td>
            <td>{{lendraw}}</td>
            </tr>
            <td>DrawDown %:</td>
            <td>{{drawdown}}</td>
            </tr>
            <td>DrawDown Money $:</td>
            <td>{{moneydown}}</td>
            </tr>
            <td>Max Drawdown length:</td>
            <td>{{lenMax}}</td>
            </tr>
            <td>Max DrawDown %:</td>
            <td>{{drawMax}}</td>
            </tr>
            <td>Max Drawdown Money $:</td>
            <td>{{moneyMax}}</td>
            </tr>
                  
                    </thead>
            </table>
            <table class="table table-bordered table-hover table-striped">
                <h1>Length (bars in the market)</h1>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>Total:</td>
                            <td>{{recorridoEnOperaciones}}</td>
                            </tr>
                            <tr>
                            <td>Average per Trades:</td>
                            <td>{{promedioVelasOperacion}}</td>
                            </tr>
                            <tr>
                            <td>Max per Trades:</td>
                            <td>{{maxvelasOperacion}}</td>
                            </tr>
                            <tr>
                            <td>Min per Trades:</td>
                            <td>{{minvelasOperacion}}</td>
                            </tr>
                    </tbody>
                    </thead>
            </table>
           
            <table class="table table-bordered table-hover table-striped">
                <h1>Length Target/Stop</h1>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>Total per Win Trades:</td>
                            <td>{{recorridoOperacionesGanadas}}</td>
                            </tr>
                            <tr>
                            <td>Average per Win Trades:</td>
                            <td>{{promedioVelasOperacionGanadas}}</td>
                            </tr>
                            <tr>
                            <td>Max per Win Trades:</td>
                            <td>{{maxvelasOperacionGanadas}}</td>
                            </tr>
                            <tr>
                            <td>Min per Win Trades:</td>
                            <td>{{minvelasOperacionGanadas}}</td>
                            </tr>
                            <tr>
                            <td>Total per Lost Trades:</td>
                            <td>{{recorridoOperacionesPerdidas}}</td>
                            </tr>
                            <tr>
                            <td>Average per Lost Trades:</td>
                            <td>{{promedioVelasOperacionPerdidas}}</td>
                            </tr>
                            <tr>
                            <td>Max per Lost Trades:</td>
                            <td>{{maxvelasOperacionPerdidas}}</td>
                            </tr>
                            <tr>
                            <td>Min per Lost Trades:</td>
                            <td>{{minvelasOperacionPerdidas}}</td>
                            </tr>
                    </tbody>
                    </thead>
            </table>
            <table class="table table-bordered table-hover table-striped">
                <h1>Length Longs</h1>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    <tbody>
                      
                        <tr>
                            <td>Total per Long Trades:</td>
                            <td>{{long_total}}</td>
                            </tr>
                            <tr>
                            <td>Average per Long Trades:</td>
                            <td>{{long_average}}</td>
                            </tr>
                            <tr>
                            <td>Max per Long Trades:</td>
                            <td>{{long_max}}</td>
                            </tr>
                            <tr>
                            <td>Min per Long Trades:</td>
                            <td>{{long_min}}</td>
                            </tr>
                    </tbody>
                    </thead>
            </table>
            
            <table class="table table-bordered table-hover table-striped">
                <h1>Length Shorts</h1>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total per Short Trades:</td>
                        <td>{{short_total}}</td>
                        </tr>
                        <tr>
                        <td>Average per Short Tradest:</td>
                        <td>{{short_average}}</td>
                        </tr>
                        <tr>
                        <td>Max per Short Trades:</td>
                        <td>{{short_max}}</td>
                        </tr>
                        <tr>
                        <td>Min per Short Tradest:</td>
                        <td>{{short_min}}</td>
                        </tr>
                </tbody>
            </table>
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
