
        h1 {
            text-align: center;
            font-size: 36px;
            background-color: #0074b6;
            color: white;
            padding: 20px;
            border-radius: 20px;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #container {
            max-width: 600px;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
        }

        .form-group {
            margin-bottom: 20px;
            
        }
        

        label {
            display: block;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        input[type="date"],
        select {
            width: calc(100% - 20px); 
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            text-align: center;
            background-color: #0074b6;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            align-items: center;
        }
        
        .home-button {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #0074b6;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        #error-message {
            display: none;
            background-color: #f44336;
            color: white;
            padding: 15px;
            border-radius: 5px;
            margin-top: 10px;
        }

        #close-error {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7); /* Fondo difuminado */
            z-index: 1; /* Asegura que esté en la parte superior */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        /* Estilo del loader */
        .loader {
            border: 8px solid #0074b6; /* Cambia el color a azul */
            border-top: 8px solid #f3f3f3; /* Cambia el otro color si lo deseas */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
        }

        /* Agrega la animación de giro (spin) */
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
       
